@page "/Graficos"
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Util;
@using Microsoft.AspNetCore.Authorization
@inject IRepository repository
@inject NavigationManager Navigation

<h3>Gráfico de Líneas</h3>

<!-- Contenido de tu gráfico -->
<Chart Config="_ConfiguracionPastel"></Chart>

@code {
    private PieConfig? _ConfiguracionPastel;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await RealizarConfiguracionPasteAsync();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error durante la inicialización del gráfico: {ex.Message}");
            // Puedes registrar o manejar el error de alguna manera aquí
        }
    }


    private async Task RealizarConfiguracionPasteAsync()
    {
        _ConfiguracionPastel = new PieConfig();

        _ConfiguracionPastel.Options = new PieOptions
        {
            Responsive = true,
            Title = new OptionsTitle
            {
                Display = true,
                Text = "Tirulo"
            }
        };

        foreach (var item in new[] { "partido1", "Partido2", "Partido3" })
        {
            _ConfiguracionPastel.Data.Labels.Add(item);
        }

        PieDataset<int> dataset = new PieDataset<int>(new[] { 35, 50, 15 })
        {
            BackgroundColor = new[]
            {
                ColorUtil.ColorHexString(255, 0, 0),
                ColorUtil.ColorHexString(0, 255, 0),
                ColorUtil.ColorHexString(0, 0, 255)
            }
        };

        _ConfiguracionPastel.Data.Datasets.Add(dataset);
    }
}
