@page "/Graficos"
@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor.Util
@inject IRepository repository
@inject NavigationManager Navigation

<h1 style="margin: 20px auto; display: flex;">Listado de Graficos</h1>

<style>
    /* Aplica estilos al contenedor del gráfico */
    #chart-container {
        margin: 50px;
        margin-bottom: 200px;
    }
</style>

@if (Gastos != null && Gastos.Any())
{
    <div id="chart-container">
        <Chart Config="_configuracionBarras"></Chart>
    </div>
}
else
{
    <p>No hay datos de gastos disponibles.</p>
}

@code {
    private BarConfig? _configuracionBarras;
    private List<Gastos>? Gastos;

    protected override async Task OnInitializedAsync()
    {
        await CargarDatosAsync();
        ConfigurarGraficoBarras();
    }

    private async Task CargarDatosAsync()
    {
        try
        {
            var respuesta = await repository.Get<List<Gastos>>("/api/gastos/TotalGasto");
            Gastos = respuesta.Response ?? new List<Gastos>();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error al cargar datos: {ex.Message}");
        }
    }

    private void ConfigurarGraficoBarras()
    {
        _configuracionBarras = new BarConfig
            {
                Options = new BarOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle

                    {
                        Display = true,
                        Text = "Gastos por Sigla",
                        FontSize = 18,
                        FontColor = "#000000"
                    }
                }
            };

        foreach (var sigla in Gastos.Select(g => g.SIGLA).Distinct())
        {
            var totalGastos = Gastos.Where(g => g.SIGLA == sigla).Sum(g => g.MONTO);

            var dataset = new BarDataset<int>(new[] { totalGastos })
                {
                    Label = sigla,
                    BackgroundColor = ObtenerColorPersonalizado(sigla),
                    BorderColor = ColorUtil.ColorHexString(0,0,255), // Color del borde
                    BorderWidth = 1
                };

            _configuracionBarras.Data.Datasets.Add(dataset);
        }
    }

    private string ObtenerColorPersonalizado(string input)
    {
        // Lógica personalizada para asignar colores basados en la entrada
        // Puedes utilizar algún algoritmo o lógica específica
        // Devuelve un valor hexadecimal, por ejemplo: "#FF5733"
        int hashCode = input.GetHashCode();
        var random = new Random(hashCode);

        var color = $"rgba({random.Next(0, 256)}, {random.Next(0, 256)}, {random.Next(0, 256)}, 0.7)";
        return color;
    }



}
