
<AuthorizeView>
    <Authorized>
        <h6 style="color: white; margin-top: 10px;">Bienvenido!</h6><a href="EditUser" class="nav-link btn btn-link" style="color: white;">@context.User.Identity!.Name</a>
        <a href="logout" class="nav-link btn btn-link" style="color: white;">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="/" class="nav-link btn btn-link">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
