<div class="top-row ps-3 navbar navbar-dark" style="background-color: darkblue; border-bottom: 2px solid yellow;">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-center">
            <img src="/images/logo.png" style="height:40px; width:40px;" />
        </div>
    </div>


</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: #990000;">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Inicio">
                    <span class="oi oi-home" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ListVehi">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Lista de vehiculos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Reportes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Reportes
                </NavLink>
            </div>
            <AuthorizeView Roles="AdministradorGeneral,AdministradorCompañia">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AdminUsers">
                        <span class="oi oi-person" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AgregarUsuario">
                        <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Usuario
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Gastos">
                        <span class="oi oi-dollar" aria-hidden="true"></span> Perfil de costos
                    </NavLink>
                </div>
            </AuthorizeView>    




        </nav>
    </div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
