@inherits LayoutComponentBase


<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <main>
        <div class="top-row px-4" style="display: flex; flex-wrap:wrap; background-color: darkblue; border-bottom: 2px solid yellow;">
            <AuthLinks />
        </div>

        <article>
            @Body
        </article>
    </main>


    <Footer/>
</div>
