@page "/counter"
@using BombaAustra.Shared.Entities;
@inject IRepository repository

<h1>Counter</h1>

@if(USUARIOS is null)
{
    <p>Cargando</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Usuarios</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in USUARIOS!)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger">Borrar</button>
                    </td>
                    <td>
                        @usuario.NOMBRE
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<!--codigo C#-->
@code {
    //Se llama a la clase usuarios, el "?" indica que pueden ser nulos
    public List<Usuario>? USUARIOS { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Usuario>>("api/bomberos");//Devuelve la lista de usuario
        USUARIOS = responseHttp.Response;
    }
}
