@page "/IniSesion"
@inject IRepository repository
@inject NavigationManager Navigation

<header>
    <h1>Iniciar sesion</h1>
</header>

<body>
    <img/>

    <p>Inice sesion</p>

    <label>Usuario</label>
    <input placeholder="Escriba aqui" />
    <br />
    <label>Contraseña</label>
    <input placeholder="Escriba aqui"/>
    <br />
    <button @onclick="Iniciar">Continuar</button>
</body>




@code {
    private void Iniciar()
    {
        Navigation.NavigateTo("Inicio");
    }

}
