@page "/Inicio"
@using Microsoft.AspNetCore.Authorization;
@inject IRepository repository
@inject NavigationManager Navigation

<header>
    <h3 class="text-center">Bienvenido!</h3>
</header>
<div class="text-center" style="padding:3px;">
    <img src="https://www.shareicon.net/data/512x512/2015/09/23/106239_user_512x512.png" class="card-img" style="height:150px; width:150px;"/>
</div>
<body>
    <div class="text-center">
        <button @onclick="EstadoVehiculos" class="btn btn-success boton">Lista Vehiculo</button>
        <button @onclick="Reportes" class="btn btn-success boton" >Reportes Existentes</button>
        <AuthorizeView Roles="AdministradorGeneral,AdministradorCompañia boton">
            <button @onclick="AdminUsers" class="btn btn-success boton" >Administrar usuarios</button>
            <button @onclick="AddUsers" class="btn btn-success boton" >Agregar Usuario</button>
            <button class="btn btn-success boton" >Vista Usuario</button>
            <button @onclick="Gastos" class="btn btn-success boton" >Perfil Costos</button>
        </AuthorizeView>




    </div>

</body>
@code {


    public void EstadoVehiculos()
    {
        Navigation.NavigateTo("/ListVehi");
    }

    public void Reportes()
    {
        Navigation.NavigateTo("/Reportes");
    }

    public void AdminUsers()
    {
        Navigation.NavigateTo("/AdminUsers");
    }

    public void AddUsers()
    {
        Navigation.NavigateTo("/AgregarUsuario");
    }

    public void Gastos()
    {
        Navigation.NavigateTo("/Gastos");
    }

    public void PDF()
    {
        Navigation.NavigateTo("/generate-pdf");
    }

}
