@page "/Inicio"
@inject IRepository repository
@inject NavigationManager Navigation

<header>
    <h3>Bienvenido! *usuario*</h3>
</header>

<body>
    <div class="grid text-center">
        <button @onclick="EstadoVehiculos" class="btn btn-success">Estado Vehiculo</button>
        <button @onclick="Reportes" class="btn btn-success">Reportes Existentes</button>
        <button @onclick="AdminUsers" class="btn btn-success">Administrar usuarios</button>
        <button @onclick="AddUsers" class="btn btn-success">Agregar Usuario</button>
        <button @onclick="ConfUsers" class="btn btn-success">Configuracion de cuenta</button>
        <button @onclick="InfoVehi" class="btn btn-success">Info Vehiculo</button>
        <button class="btn btn-success">Vista Usuario</button>
        <button class="btn btn-success">Perfil Costos</button>
    </div>

</body>
@code {


    public void EstadoVehiculos()
    {
        Navigation.NavigateTo("ListVehi");
    }

    public void Reportes()
    {
        Navigation.NavigateTo("Reportes");
    }

    public void InfoVehi()
    {
        Navigation.NavigateTo("InfoVehi");
    }

    public void AdminUsers()
    {
        Navigation.NavigateTo("AdminUsers");
    }

    public void AddUsers()
    {
        Navigation.NavigateTo("/Usuarios/agregar");
    }

    public void ConfUsers()
    {
        Navigation.NavigateTo("ConfUsers");
    }

}
