.conteiner {
    margin: 20px auto;
}

.bloque {
    background-color: #990000;
    color: white
}


.boton {
    background-color: rgba(0, 0, 139, 0.7);
    border: 2px solid #ffdb58;
    margin: 5px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}

.titulos {
    margin: 20px auto;
    display: flex;
}
