.conteiner {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont button {
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 139, 0.7);
    width: 150px;
}

.cuadro{
    border: 4px solid #ffdb58;
}

.cardo {
    background-color: #990000;
    color: white;
}